php_flag magic_quotes_gpc Off
ErrorDocument 404 /url_handler.php

RewriteEngine On
RewriteRule ^topic/([0-9]+)$ topic.php?id=$1 [L]
RewriteRule ^topics/?([0-9]+)?$ index.php?p=$1 [L]
RewriteRule ^bumps/?([0-9]+)?$ index.php?bumps=1&p=$1 [L]
RewriteRule ^history/?([0-9]+)?$ history.php?p=$1 [L]
RewriteRule ^replies/?([0-9]+)?$ replies.php?p=$1 [L]
RewriteRule ^watchlist$ watchlist.php [L]
RewriteRule ^new_topic$ post.php [L]
RewriteRule ^new_reply/([0-9]+)$ post.php?reply=$1 [L]
RewriteRule ^new_reply/([0-9]+)/quote_topic$ post.php?reply=$1&quote_topic=1 [L]
RewriteRule ^new_reply/([0-9]+)/quote_reply/([0-9]+)$ post.php?reply=$1&quote_reply=$2 [L]
RewriteRule ^new_reply/([0-9]+)/cite_reply/([0-9]+)$ post.php?reply=$1&cite=$2 [L]
RewriteRule ^edit_topic/([0-9]+)$ post.php?&edit=$1 [L]
RewriteRule ^edit_reply/([0-9]+)/([0-9]+)$ post.php?reply=$1&edit=$2 [L]
RewriteRule ^search$ search.php [L]
RewriteRule ^quick_search/(.+)$ search.php?q=$1 [L]
RewriteRule ^deep_search/(.+)?$ search.php?q=$1&deep_search=1 [L]
RewriteRule ^stuff$ stuff.php [L]
RewriteRule ^dashboard$ dashboard.php [L]
RewriteRule ^trash_can$ trash_can.php [L]
RewriteRule ^statistics$ statistics.php [L]
RewriteRule ^date_and_time$ date_and_time.php [L]
RewriteRule ^back_up_ID$ back_up_id.php [L]
RewriteRule ^generate_ID_card$ back_up_id.php?action=generate_id_card
RewriteRule ^restore_ID$ restore_id.php [L]
RewriteRule ^restore_ID/([A-Za-z0-9.]+)/([A-Za-z0-9]+)$ restore_id.php?UID=$1&password=$2 [L]
RewriteRule ^recover_ID_by_email$ recover_id_by_email.php [L]
RewriteRule ^drop_ID$ drop_id.php [L]
RewriteRule ^profile/([0-9a-zA-Z.]+)$ profile.php?uid=$1 [L]
RewriteRule ^failed_postings$ failed_postings.php [L]
RewriteRule ^IP_address/([0-9.]+)$ ip_address.php?ip=$1 [L]
RewriteRule ^edit_ignore_list$ edit_ignore_list.php [L]
RewriteRule ^ban_poster/([0-9a-zA-Z.]+)$ action.php?action=ban_uid&id=$1 [L]
RewriteRule ^unban_poster/([0-9a-zA-Z.]+)$ action.php?action=unban_uid&id=$1 [L]
RewriteRule ^unban_IP/([0-9.]+)$ action.php?action=unban_ip&id=$1 [L]
RewriteRule ^delete_IP_IDs/([0-9.]+)$ action.php?action=delete_ip_ids&id=$1 [L]
RewriteRule ^nuke_IP/([0-9.]+)$ action.php?action=nuke_ip&id=$1 [L]
RewriteRule ^nuke_ID/([0-9a-zA-Z.]+)$ action.php?action=nuke_id&id=$1 [L]
RewriteRule ^delete_topic/([0-9]+)$ action.php?action=delete_topic&id=$1 [L]
RewriteRule ^delete_reply/([0-9]+)$ action.php?action=delete_reply&id=$1 [L]
RewriteRule ^delete_page/([0-9]+)$ action.php?action=delete_page&id=$1 [L]
RewriteRule ^CMS$ content_management.php [L]
RewriteRule ^edit_page/([0-9]+)$ edit_content.php?edit=$1 [L]
RewriteRule ^new_page$ edit_content.php [L]
RewriteRule ^watch_topic$ action.php?action=watch_topic [L]
RewriteRule ^watch_topic/([0-9]+)$ action.php?action=watch_topic&id=$1 [L]
RewriteRule ^trivia_for_topic/([0-9]+)$ topic_trivia.php?id=$1 [L]
RewriteRule ^exterminate$ exterminate.php [L]